<nav [ngClass]="getNavbarClass()">
  <ul class="navbar-list">
    <li
      *ngFor="let item of menuConfig"
      class="navbar-item"
      (mouseenter)="openSubmenu(item)"
      (mouseleave)="closeSubmenu(item)"
      (focusin)="openSubmenu(item)"
      (focusout)="closeSubmenu(item)"
    >
      <a *ngIf="!item.submenu" [routerLink]="item.route">{{ item.label }}</a>

      <a *ngIf="item.submenu" href="#" role="button" [attr.aria-expanded]="item.open ? 'true' : 'false'" (click)="$event.preventDefault()">
        {{ item.label }}
        <span class="triangle">?</span>
      </a>

      <ul *ngIf="item.submenu && item.open" [ngClass]="getSubmenuClass()">
        <li *ngFor="let sub of item.submenu" class="submenu-item">
          <a [routerLink]="sub.route">{{ sub.label }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>