input.datepicker-input {
	padding: 6px 8px;
	border: 1px solid #ccc;
	background: #fff;
	color: #111;
}

.theme-dark input.datepicker-input {
	background: #333333;
	border-color: #444444;
	color: #e8e8e8;
}

