aside.dynamic-sidebar {
	background: #f9f9f9;
	padding: 12px;
	border-right: 1px solid #e0e0e0;
}

.theme-dark aside.dynamic-sidebar {
	background: #2e2e2e;
	border-color: #444444;
	color: #e8e8e8;
}

.theme-dark .sidebar-item {
	color: #e8e8e8;
}

