<header class="app-header">
  <img src="/assets/images/Al_Barik_Bank_logo.png" alt="Al Barid Bank" class="app-logo" />
</header>

<div class="theme-bar">
  <app-dynamic-theme-switcher></app-dynamic-theme-switcher>
</div>

<main class="page-shell">
  <ng-container *ngIf="loading">
    <div class="loading">Chargement de la configuration...</div>
  </ng-container>

  <ng-container *ngIf="!loading && uiConfig">
    <app-dynamic-renderer [uiConfig]="uiConfig"></app-dynamic-renderer>
  </ng-container>

  <ng-container *ngIf="!loading && loadError">
    <div class="error">Erreur: {{ loadError }}</div>
  </ng-container>
</main>